@use "../global" as *;

.c-btn {
  background: $main-blue-color;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid $main-blue-color;
  cursor: pointer;

  svg {
    color: $white-color;
  }

  .c-btn__arrow {
    transition: fill 0.3s ease;
  }

  &:hover {
    background-color: $white-color;
    border: 2px solid $main-blue-color;

    svg {
      color: $main-blue-color;
    }

    .c-btn__arrow {
      fill: $white-color;
    }
    .c-btn--text {
      color: $main-blue-color;
    }
  }
}

.c-contact__btn--box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: rclamp(12, 33, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(11, 10, 1024, 1440);
  }


}

.c-btn--text {
  color: $white-color;
  line-height: 1.6;
  font-weight: 700;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.c-btn-xs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline: 32px;
  padding-block: 12px;
  width: 100%;
  max-width: 220px;
}

.c-btn-sm {
  padding-block: rclamp(12, 33, 375, 1023);
  padding-inline: rclamp(32, 87, 375, 1023);
  gap: rclamp(10, 27, 375, 1023);
  width: rclamp(220, 600, 375, 1023);

  @include mq(tb-middle) {
    width: 100%;
    max-width: 220px;
    padding-block: rclamp(9, 12, 1024, 1440);
    padding-inline: rclamp(23, 32, 1024, 1440);
    height: auto;
  }

  .c-btn--text {
    font-size: rclamp(16, 44, 375, 1023);

    @include mq(tb-middle) {
      font-size: rclamp(11, 16, 1024, 1440);
    }
  }
}

.c-btn-md {
  padding: rclamp(20, 55, 375, 1023);
  gap: rclamp(12, 33, 375, 1023);

  @include mq(tb-middle) {
    padding-block: rclamp(14, 20, 1024, 1440);
    padding-inline: rclamp(23, 32, 1024, 1440);
    max-width:  352px;
  }

  .c-header-contact__btn--box {
    gap: rclamp(12, 33, 375, 1023);
  }

  i {
    font-size: rclamp(22, 60, 375, 1023);
  }

  .c-btn--text {
    font-size: rclamp(18, 49, 375, 1023);
    letter-spacing: 0.9px;

    @include mq(tb-middle) {
      font-size: rclamp(14, 20, 1024, 1440);
    }
  }
}

.c-btn-lg {
  padding: rclamp(20, 55, 375, 1023);
  gap: rclamp(12, 33, 375, 1023);
  max-width: 319px;
  width: 100%;

  i {
    font-size: rclamp(22, 60, 375, 1023);
  }

  .c-btn--text {
    font-size: rclamp(18, 49, 375, 1023);
    letter-spacing: 0.9px;

    @include mq(tb-middle) {
      font-size: rclamp(14, 20, 1024, 1440);
    }
  }

  @include mq(tb-middle) {
    padding-block: rclamp(14, 20, 1024, 1440);
    padding-inline: rclamp(23, 32, 1024, 1440);
    gap: rclamp(16, 21, 375, 1023);
    max-width: 352px;
  }
}
