@use "../global" as *;

.u-yellow-text {
  color: $accent-yellow-color;
}

.u-hidden-sp {
  display: none;

  @include mq(tb-middle) {
    display: block;
  }
}

.u-hidden-pc {
  display: block;

  @include mq(tb-middle) {
    display: none;
  }
}

.js-fadein {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}
