@use "../global" as *;

.p-courses {
  background: $light-green-color;
}

.p-courses__inner {
  @include mq(tb-middle) {
    position: relative;
  }

  .l-inner {
    @include mq(tb-middle) {
      padding-inline: rclamp(199, 373, 1024, 1920);
    }
  }
}

.p-courses-tabs {
  margin-top: rclamp(40, 109, 375, 1023);
}

.p-courses-tabs__inner {
  width: min(calc(880px + 20px * 2), 100%);
  margin-inline: auto;

  @include mq(tb-middle) {
    margin-inline: 0;
  }
}

.p-courses__head {
  flex-direction: row;
  justify-content: space-between;

  @include mq(tb-middle) {
    justify-content: center;
  }
}

.p-course__head--image {
  @include mq(tb-middle) {
    position: absolute;
    bottom: rclamp(85, 160, 1024, 1920);
    left: rclamp(84, 157, 1024, 1920);
  }
  img {
    width: rclamp(73, 199, 375, 1023);
    height: auto;

    @include mq(tb-middle) {
      width: rclamp(115, 216, 1024, 1920);
    }
  }
}

.p-courses-tabs__list {
  display: flex;
}

.p-courses-tabs__item {
  flex: 1;
  padding-block: rclamp(20, 55, 375, 1023);
  padding-inline: rclamp(10, 27, 375, 1023);
  border-radius: 10px 10px 0 0;
  border: none;
  background: $white-color;
  font-size: rclamp(16, 44, 375, 1023);
  font-weight: 400;
  line-height: normal;

  @include mq(tb-middle) {
    display: flex;
    justify-content: center;
    padding-block: rclamp(14, 27, 1024, 1920);
    padding-inline: rclamp(7, 13, 1024, 1920);
    font-size: rclamp(11, 21, 1024, 1920);
  }

  &[aria-selected="true"] {
    background: $white-color;
    color: $main-blue-color;
    pointer-events: none;
  }

  &[aria-selected="false"] {
    transition: opacity 0.3s ease;
    background: $brown-background;
    color: $sub-text-color;

    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}

.p-courses-tabs__contents {
  background: $white-color;
  border-radius: 0 0 10px 10px;
}

.p-courses-tabs__content-wrap {
  display: none;

  &.js-show {
    display: block;
  }
}

.p-courses__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: rclamp(32, 87, 375, 1023);
  padding-block: rclamp(32, 87, 375, 1023);
  justify-content: center;

  @include mq(tb-middle) {
    gap: rclamp(23, 43, 1024, 1920);
    padding-block: rclamp(28, 53, 1024, 1920);
    flex-direction: column;
  }
}

.p-courses__box {
  padding-inline: rclamp(16, 44, 375, 1023);
  flex: 1;
  min-width: rclamp(300, 818, 375, 1023);
  display: flex;
  flex-direction: column;
  gap: rclamp(12, 33, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(9, 16, 1024, 1920);
    padding-inline: rclamp(105, 197, 1024, 1920);
  }
}

.p-courses__heading {
  text-align: center;
  font-size: rclamp(18, 49, 375, 1023);
  font-weight: 700;

  @include mq(tb-middle) {
    text-align: left;
    font-size: rclamp(16, 29, 1024, 1920);
  }
}

.p-courses__text {
  @include mq(tb-middle) {
    font-size: rclamp(11, 21, 1024, 1920);
  }
}

.p-courses-tab__btn {
  @include mq(tb-middle) {
    max-width: rclamp(156, 293, 1024, 1920);
    margin-inline: auto;
  }
}

// modal
.modal__content {
  width: min(600px, 95%);
  max-height: 70vh;
  background: #fff;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  background: $white-color;
}

.modal__inner {
  overflow-y: scroll;
  height: 100%;
  position: relative;
}

.modal__body {
  height: fit-content;
}

//閉じるボタンのスタイル =========
.modal__close-btn {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-size: 30px;
  width: rclamp(40, 109, 375, 1023);
  height: rclamp(40, 109, 375, 1023);
  background: $main-text-color;
  color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  font-size: rclamp(20, 55, 375, 1023);
}

// モーダルスタイル
.modal__body {
  padding-block: rclamp(40, 109, 375, 1023);
  padding-inline: rclamp(16, 44, 375, 1023);
}

.p-modal__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rclamp(60, 164, 375, 1023);
}

.p-modal__content {
  margin-top: rclamp(16, 44, 375, 1023);
  width: 100%;
}

.p-modal__head {
  padding-inline: rclamp(16, 44, 375, 1023);
}

.p-modal__heading {
  text-align: center;
  font-size: rclamp(18, 49, 375, 1023);
  letter-spacing: 0.9px;
  font-weight: 700;
}

.p-modal__heading--sub {
  font-size: rclamp(15, 41, 375, 1023);
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.75px;
  margin-top: rclamp(4, 11, 375, 1023);
}

.p-modal__boxes {
  display: flex;
  flex-direction: row;
  gap: rclamp(8, 22, 375, 1023);
  justify-content: center;
  width: 100%;
  margin-top: rclamp(16, 44, 375, 1023);
}

.p-modal__box {
  width: 100%;
}

.modal__box--head {
  background: $main-blue-color;
  color: $white-color;
  font-size: rclamp(15, 41, 375, 1023);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: rclamp(10, 27, 375, 1023);
  padding-inline: rclamp(20, 55, 375, 1023);
  border-radius: 4px;
}

.modal__box--text {
  margin-top: rclamp(8, 22, 375, 1023);
  font-size: rclamp(15, 41, 375, 1023);
  line-height: 160%;
  letter-spacing: 0.75px;
}

.modal__open-btn--box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: rclamp(10, 27, 375, 1023);
}
