@use "../global" as *;

.p-reason {
  background: url(../img/bg_main.webp) no-repeat center / cover;
}

.p-reason__inner {
  display: flex;
  flex-direction: column;
  gap: rclamp(40, 109, 375, 1023);
  

  @include mq(tb-middle) {
    flex-direction: row;
    gap: rclamp(103, 144, 1024, 1440);
    align-items: flex-start;
    justify-content: space-between;
  }
}

.p-reason__head {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: rclamp(100, 273, 375, 1023);
  align-self: flex-start;

  @include mq(tb-middle) {
    gap: rclamp(18, 26, 1024, 1440);
    align-items: flex-start;
    position: sticky;
    top: calc(var(--header-h) + 12px); 
  
  }

  .c-heading {
    text-align: left;
  }
}

.p-reason__head--image {
  flex-shrink: 0; 
  position: absolute;
  right: rclamp(16, 44, 375, 1023);
  bottom: rclamp(-18, -49, 375, 1023);

  @include mq(tb-middle) {
    position: static;
  }

  img {
    width: rclamp(56, 153, 375, 1023);
    height: rclamp(113, 308, 375, 1023);

    @include mq(tb-middle) {
      width: rclamp(60, 85, 1024, 1440);
      height: rclamp(122, 172, 1024, 1440);
    }
  }
}

.p-reason-list {
  display: flex;
  flex-direction: column;
  gap: rclamp(40, 109, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(27, 38, 1024, 1440);
  }

}

.p-reason-item {
  background: $brown-background;
  padding-block: rclamp(24, 65, 375, 1023);
  padding-inline: rclamp(16, 44, 375, 1023);
  border-radius: 20px;
  position: relative;
  min-height: 391px;

  @include mq(tb-middle) {
    padding-inline: rclamp(23, 30, 1024, 1440);
    padding-block: rclamp(19, 27, 1024, 1440);
    max-width: 766px;
    min-height: 0;
  }
}

.p-reason-item__num {
  width: rclamp(60, 164, 375, 1023);
  height: rclamp(60, 164, 375, 1023);
  border-radius: 50%;
  background-color: $main-blue-color;
  color: $white-color;
  font-family: $font-en;
  font-weight: 700;
  line-height: 1;
  font-size: rclamp(30, 82, 375, 1023);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: rclamp(10, 27, 375, 1023);
  position: absolute;
  top: rclamp(-17, -46, 375, 1023);
  right: rclamp(14, 38, 375, 1023);
  gap: 4px;

  @include mq(tb-middle) {
    width: rclamp(43, 60, 1024, 1440);
    height: rclamp(43, 60, 1024, 1440);
    font-size: rclamp(21, 30, 1024, 1440);
    padding-block: rclamp(7, 10, 1024, 1440);
    padding-inline: rclamp(10, 14, 1024, 1440);
    top: rclamp(-7, -10, 1024, 1440);
    left: rclamp(-14, -20, 1024, 1440);
    right: auto;
  }
}

.p-reason-item__num--sub {
  font-size: rclamp(6, 16, 375, 1023);
  letter-spacing: 0.3px;

  @include mq(tb-middle) {
    font-size: rclamp(4, 6, 1024, 1440);
  }
}

.p-reason-item__box {
  display: flex;
  flex-direction: column;
  gap: rclamp(16, 44, 375, 1023);

  @include mq(tb-middle) {
    flex-direction: row;
    gap: rclamp(28, 40, 1024, 1440);
    align-items: flex-start;
  }
}

.p-reason-item__textBox,
.p-reason-item__text {
  width: 100%;
  box-sizing: border-box;
}

.p-reason-item__textBox {
  display: flex;
  flex-direction: column;
  gap: rclamp(12, 33, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(10, 12, 1024, 1440);
    justify-content: center; 
    align-self: flex-start;
    padding-top: rclamp(23, 32, 1024, 1440);
  }
}

.p-reason-item__heading {
  font-size: rclamp(18, 49, 375, 1023);
  letter-spacing: 0.9px;
  font-weight: 700;
  line-height: 1.5;

  @include mq(tb-middle) {
    font-size: rclamp(16, 22, 1024, 1440);
    letter-spacing: 1.1px;
   
  }
}

.p-reason-item__text {
  font-size: 15px;
  letter-spacing: 0.98px;
  line-height: 160%;
  

  @include mq(tb-middle) {
    font-size: rclamp(11, 16, 1024, 1440);
    letter-spacing: 0.8px;
  }
}

.p-reason-item__image {
  overflow: hidden;
  aspect-ratio: 303 / 200; 

  @include mq(tb-middle) {
    aspect-ratio: auto;
    overflow: visible;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
   
    @include mq(tb-middle) {
      width: rclamp(218, 306, 1024, 1440);
      border-radius: 10px;
    }
  }
}
