@use "../global" as *;

.p-reason {
  background: url(../img/bg_main.webp) no-repeat center / cover;
}

.p-reason__inner {
  display: flex;
  flex-direction: column;
  gap: rclamp(40, 109, 375, 1023);

  @include mq(tb-middle) {
    flex-direction: row;
    gap: rclamp(103, 193, 1024, 1920);
    align-items: flex-start;
    justify-content: space-between;
  }
}

.p-reason__head {
  display: flex;
  flex-direction: row;
  gap: rclamp(100, 273, 375, 1023);
  align-items: flex-end;

  @include mq(tb-middle) {
    gap: rclamp(18, 35, 1024, 1920);
    align-items: flex-start;
    position: sticky;
    top: 5px;
  }

  .c-heading {
    text-align: left;
  }
}

.p-reason__head--image {
  img {
    width: rclamp(56, 153, 375, 1023);
    height: rclamp(113, 308, 375, 1023);

    @include mq(tb-middle) {
      width: rclamp(60, 113, 1024, 1920);
      height: rclamp(122, 229, 1024, 1920);
    }
  }
}

.p-reason-list {
  display: flex;
  flex-direction: column;
  gap: rclamp(40, 109, 375, 1023);

  @include mq(tb-middle) {
    gap: 40px;
  }
  @include mq(pc-small) {
  }
}

.p-reason-item {
  background: $brown-background;
  padding-block: rclamp(20, 55, 375, 1023);
  padding-inline: rclamp(16, 44, 375, 1023);
  border-radius: 20px;
  position: relative;

  @include mq(tb-middle) {
    padding-inline: rclamp(21, 40, 1024, 1920);
    padding-block: rclamp(18, 35, 1024, 1920);
    max-width: rclamp(545, 1021, 1024, 1920);
  }
}

.p-reason-item__num {
  width: rclamp(60, 164, 375, 1023);
  height: rclamp(60, 164, 375, 1023);
  border-radius: 50%;
  background-color: $main-blue-color;
  color: $white-color;
  font-family: $font-en;
  font-weight: 700;
  line-height: 1;
  font-size: rclamp(30, 82, 375, 1023);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: rclamp(10, 27, 375, 1023);
  padding-inline: rclamp(14, 38, 375, 1023);
  position: absolute;
  top: rclamp(-20, -55, 375, 1023);
  right: rclamp(14, 38, 375, 1023);

  @include mq(tb-middle) {
    width: rclamp(43, 80, 1024, 1920);
    height: rclamp(43, 80, 1024, 1920);
    font-size: rclamp(21, 40, 1024, 1920);
    padding: rclamp(7, 13, 1024, 1920);
    top: rclamp(-7, -13, 1024, 1920);
    left: rclamp(-14, -27, 1024, 1920);
    right: auto;
  }
}

.p-reason-item__num--sub {
  font-size: rclamp(6, 16, 375, 1023);
  letter-spacing: 0.3px;

  @include mq(tb-middle) {
    font-size: rclamp(4, 8, 1024, 1920);
  }
}

.p-reason-item__box {
  display: flex;
  flex-direction: column;
  gap: rclamp(16, 44, 375, 1023);

  @include mq(tb-middle) {
    flex-direction: row;
    gap: rclamp(28, 53, 1024, 1920);
  }
}

.p-reason-item__textBox {
  display: flex;
  flex-direction: column;
  gap: rclamp(12, 33, 375, 1023);

  @include mq(tb-middle) {
    gap: 14px;
    justify-content: center;
  }
}

.p-reason-item__heading {
  font-size: rclamp(18, 49, 375, 1023);
  letter-spacing: 0.9px;
  font-weight: 700;

  @include mq(tb-middle) {
    font-size: rclamp(16, 29, 1024, 1920);
    letter-spacing: 1.1px;
    line-height: 1.5;
  }
}

.p-reason-item__text {
  font-size: rclamp(15, 41, 375, 1023);
  letter-spacing: 0.75px;

  @include mq(tb-middle) {
    font-size: rclamp(11, 21, 1024, 1920);
    line-height: 160%;
    letter-spacing: 0.8px;
  }
}

.p-reason-item__image {
  flex-shrink: 0;
  img {
    @include mq(tb-middle) {
      width: rclamp(218, 408, 1024, 1920);
    }
  }
}
