@use "../global" as *;

.p-section--cta-1,
.p-section--cta-2 {
  position: relative;
  overflow: hidden;
  background: none;
}

.p-section--cta__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 200px);
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

  img {
    width: 100%;
    height: calc(100% + 200px);
    object-fit: cover;
    object-position: center 0%;

    position: absolute;
    top: -100px;
    left: 0;
  }
}

.p-section--cta-1 {
  .p-section--cta__bg {
    background-image: url(../img/bg_cta1-sp.webp);

    @include mq(tb-middle) {
      background-image: url(../img/bg_cta1.webp);
    }
  }
  .p-section--cta__btn {
    padding-bottom: rclamp(16, 44, 375, 1023);

    @include mq(tb-middle) {
      padding-bottom: 0;
    }
  }
}

.p-section--cta__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rclamp(32, 87, 375, 1023);
  justify-content: center;

  @include mq(tb-middle) {
    gap: rclamp(23, 32, 1024, 1440);
  }
}

.p-section--cta__actions{
  width: 100%;

   .p-section--cta__btn{
    margin-inline: auto;
   }
}

.p-section--cta__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rclamp(20, 55, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(16, 24, 1024, 1440);
    max-width: rclamp(469, 660, 1024, 1440);
  }
}

.p-section--cta__title {
  color: $white-color;
  font-size: rclamp(26, 71, 375, 1023);
  line-height: 150%;
  letter-spacing: 1.3px;
  text-align: center;
  font-weight: 700;

  @include mq(tb-middle) {
    font-size: rclamp(25, 35, 1024, 1440);
    letter-spacing: 1px;
    white-space: nowrap;
  }
}

.p-section--cta__lead {
  color: $white-color;
  font-size: rclamp(15, 41, 375, 1023);
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.75px;
  text-align: center;

  @include mq(tb-middle) {
    font-size: rclamp(11, 16, 1024, 1440);
    padding-inline: rclamp(32, 40, 1024, 1440);
    letter-spacing: 1px;
  }
}

.p-section--cta-2 {
  .p-section--cta__bg {
    background-image: url(../img/bg_cta2-sp.webp);
    

    @include mq(tb-middle) {
      background-image: url(../img/bg_cta2.webp);
    }
  }
}

.p-section--cta-2__box {
  background-color: $brown-background;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rclamp(20, 55, 375, 1023);
  padding-block: rclamp(40, 109, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(23, 32, 1024, 1440);
    padding-block: rclamp(28, 40, 1024, 1440);
    max-width: 880px;
    margin-inline: auto;
  }
}

.p-section--cta-2__title {
  font-size: rclamp(26, 71, 375, 1023);
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.3px;
  text-align: center;

  @include mq(tb-middle) {
    font-size: rclamp(25, 35, 1024, 1440);
    letter-spacing: 1.1px;
  }
}

.p-section--cta-2__actions {
  display: flex;
  flex-direction: column;
  gap: rclamp(30, 82, 375, 1023);

  @include mq(tb-middle) {
    flex-direction: row;
    gap: rclamp(28, 40, 1024, 1440);
  }
}

.p-section--cta-2__action {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(tb-middle) {
    gap: 0;

    .p-section--cta__btn {
      padding-block: rclamp(15, 20, 1024, 1440);
    }
  }
}

.p-section--cta-2__lead {
  font-size: rclamp(15, 41, 375, 1023);
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.75px;

  @include mq(tb-middle) {
    font-size: rclamp(11, 16, 1024, 1440);
  }
}

.p-section--cta-2__telBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: rclamp(8, 22, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(6, 8, 1024, 1440);
  }
}

.p-section--cta-2__telIcon {
  width: rclamp(22, 60, 375, 1023);
  height: rclamp(32, 87, 375, 1023);

  @include mq(tb-middle) {
    width: rclamp(16, 22, 1024, 1440);
    height: auto;
  }
}

.p-section--cta-2__tel {
  font-family: $font-en;
  font-size: rclamp(35, 95, 375, 1023);
  font-weight: 700;
  letter-spacing: 1.75px;
  color: $main-blue-color;

  @include mq(tb-middle) {
    font-size: rclamp(25, 35, 1024, 1440);
  }
}

.p-section--cta-2__lead2 {
  font-size: rclamp(12, 33, 375, 1023);
  font-weight: 500;
  line-height: 160%; /* 19.2px */
  letter-spacing: 0.6px;

  @include mq(tb-middle) {
    font-size: rclamp(9, 12, 1024, 1440);
  }
}

.p-section--cta-2__btn--lead {
  font-size: rclamp(18, 49, 375, 1023);
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.9px;

  @include mq(tb-middle) {
    font-size: rclamp(14, 20, 1024, 1440);
  }
}
