@use "../global" as *;

.p-teachers {
  background-color: $brown-background;
}

.p-teachers__inner {
  display: flex;
  flex-direction: column;
  gap: rclamp(60, 164, 375, 1023);
  padding-block: rclamp(80, 218, 375, 1023);
  padding-left: rclamp(20, 55, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(43, 80, 1024, 1440);
    padding-inline: rclamp(71, 133, 1024, 1440);
    padding-block: rclamp(85, 160, 1024, 1440);
  }
}

.p-teachers__head {

  &.c-head {
    align-items: flex-start;

  }
  .c-heading {
    align-items: flex-start;
  }
}

.p-teachers-slider {
  margin-top: rclamp(40, 109, 375, 1023);
  width: rclamp(320, 873, 375, 1023);
  display: flex;
  flex-direction: column;
  gap: rclamp(40, 60, 375, 1023);

  @include mq(tb-middle) {
    width: 100%; 
    margin-top: rclamp(41, 58, 1024, 1440);
    gap: rclamp(55, 77, 1024, 1440);
  }
}

.p-teacher-card {
  display: flex;
  flex-direction: column;
  gap: rclamp(16, 44, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(11, 16, 1024, 1440);
  }
}

.p-teachers-swiper__wrapper {
  display: flex;
  flex-direction: row;
}

.p-teachers-slider__slide{
  @include mq(tb-middle) {
    width: min(100%, 352px) !important;
    max-width: 352px;
  }
}

.p-teacher-card__photo{
  @include mq(tb-middle) {
    max-width: 352px;
    max-height: 260px;
    flex-shrink: 0;
    align-self: stretch;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
    }
  }
}

.p-teacher-card__body {
  display: flex;
  flex-direction: column;
  gap: rclamp(12, 33, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(12, 17, 1024, 1440);
  }
}

.p-teacher-card__head {
  display: flex;
  flex-direction: column;
  gap: rclamp(9, 25, 375, 1023);

  @include mq(tb-middle) {
    gap: 4px;
  }
}

.p-teacher-card__head--tags {
  display: flex;
  gap: rclamp(8, 22, 375, 1023);

  @include mq(tb-middle) {
    gap: rclamp(6, 8, 1024, 1440);
  }
}

.p-teacher-card__head--tag {
  background-color: $main-blue-color;
  border-radius: 3px;
  color: $white-color;
  padding-block: rclamp(4, 11, 375, 1023);
  padding-inline: rclamp(9, 25, 375, 1023);
  font-size: rclamp(14, 38, 375, 1023);

  @include mq(tb-middle) {
    font-size: rclamp(10, 14, 1024, 1440);
    padding-block: 2px;
    padding-inline: rclamp(6, 9, 1024, 1440);
    max-width: 46px;
  }
}

.p-teacher-card__name {
  font-size: rclamp(18, 49, 375, 1023);
  letter-spacing: 0.9px;
  font-weight: 700;

  @include mq(tb-middle) {
    font-size: rclamp(16, 22, 1024, 1440);
  }
}

.p-teacher-card__text {
  font-size: rclamp(15, 41, 375, 1023);
  line-height: 160%;
  letter-spacing: 0.75px;

  @include mq(tb-middle) {
    font-size: rclamp(11, 16, 1024, 1440);
    letter-spacing: 0.8px;
  }
}

// ===================================
//     slider
// ===================================

.p-teachers-slider__controls {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.p-teachers-slider__btn {
  display: flex;
  flex-direction: row;
  gap: rclamp(22, 60, 375, 1023);
  position: static;
  right: auto;
  top: auto;

  @include mq(tb-middle) {
    gap: rclamp(16, 22, 1024, 1440);
  }
}

.p-teachers-slider__nav {
  width: rclamp(39, 106, 375, 1023);
  height: rclamp(39, 106, 375, 1023);
  border-radius: 50%;
  background-color: $main-text-color;
  border: 1px solid #274b66;
  opacity: 1;

  &:hover {
    opacity: 0.7;
  }

  @include mq(tb-middle) {
    width: rclamp(28, 39, 1024, 1440);
    height: rclamp(28, 39, 1024, 1440);
    cursor: pointer;
  }

  i {
    color: $white-color;
  }
  
  &.swiper-button-disabled,
  &.swiper-button-lock{
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }

}

.p-teachers-slider__scrollbar {
  &.swiper-scrollbar {
    width: rclamp(150, 409, 375, 1023);
    height: rclamp(8, 22, 375, 1023);
    border-radius: 10px;
    background: rgba(180, 173, 173, 0.5);
    position: relative !important;
    left: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;

    @include mq(tb-middle) {
      width: rclamp(320, 450, 1024, 1440);
      height: rclamp(6, 11, 1024, 1440);
    }
  }

}

.swiper-scrollbar-drag {
  background: $main-blue-color;
  width: rclamp(150, 109, 375, 1023);
  border-radius: 10px;

  @include mq(tb-middle) {
    width: rclamp(107, 150, 1024, 1440) !important;
  }
}
