@use "../global" as *;

.p-teachers {
  background-color: $brown-background;
}

.p-teachers__inner {
  display: flex;
  flex-direction: column;
  gap: rclamp(60, 164, 375, 1023);
  padding-block: rclamp(80, 218, 375, 1023);
  padding-left: rclamp(20, 55, 375, 1023);
}

.p-teachers-slider {
  width: rclamp(320, 873, 375, 1023);
}

.p-teacher-card {
  display: flex;
  flex-direction: column;
  gap: rclamp(16, 44, 375, 1023);
}

.p-teachers-swiper__wrapper {
  display: flex;
  flex-direction: row;
  gap: rclamp(24, 65, 375, 1023);
}

.p-teacher-card__body {
  display: flex;
  flex-direction: column;
  gap: rclamp(12, 33, 375, 1023);
}

.p-teacher-card__head {
  display: flex;
  flex-direction: column;
  gap: rclamp(9, 25, 375, 1023);
}

.p-teacher-card__head--tag {
  background-color: $main-blue-color;
  border-radius: 3px;
  color: $white-color;
  padding-block: rclamp(4, 11, 375, 1023);
  padding-inline: rclamp(9, 25, 375, 1023);
  font-size: rclamp(14, 38, 375, 1023);
}

.p-teacher-card__name {
  font-size: rclamp(18, 49, 375, 1023);
  letter-spacing: 0.9px;
}

.p-teacher-card__text {
  font-size: rclamp(15, 41, 375, 1023);
  line-height: 1.6;
  letter-spacing: 0.75px;
}

// ===================================
//     slider
// ===================================

.p-teachers-slider__controls {
  position: relative;
  display: flex;
}
.p-teachers-slider__btn {
  position: absolute;
  right: rclamp(23, 63, 375, 1023);
}

.p-teachers-slider__btn {
  top: rclamp(24, 65, 375, 1023);
  display: flex;
  flex-direction: row;
  gap: rclamp(22, 60, 375, 1023);
}

.p-teachers-slider__nav {
  width: rclamp(39, 106, 375, 1023);
  height: rclamp(39, 106, 375, 1023);
  border-radius: 50%;
  background-color: $main-text-color;
  border: 1px solid #274b66;

  i {
    color: $white-color;
  }
}

.p-teachers-slider__scrollbar {
  width: rclamp(150, 409, 375, 1023);
  height: rclamp(8, 22, 375, 1023);
  border-radius: 0 10px 10px 0;
  background: rgba(180, 173, 173, 0.5);

  &.swiper-scrollbar-drag {
    background-color: $main-blue-color;
    border-radius: 10px 0 0 10px;
  }
}

.swiper-scrollbar-drag {
  background: $main-blue-color;
}
